# PyCharm
.idea
exportToHTML

# Python
*.pyc

# Emacs
*~
.#*

# Vagrant
.vagrant
*.box

# venv
.venv

# Ansible
ansible/*.retry

# Any vi swap files
*.swp

# Virtualenv
venv
venv-darwin
venv-linux
adapters/venv
adapters/venv-linux
adapters/venv-darwin

# Protobuf output files
**/*_pb2.py
**/*_pb2_grpc.py
**/*.pb.go
**/*.desc

# Editors
*.bak
*.project
*.pydevproject

# Docker
.docker-base-built

# Mac stuff
.DS_Store
**/.DS_Store

# Generated docs
**/*.pdf

# Vagrant logfile
*.log

# Files copied over during make
adapters/protos/*.proto

